
.attractions{margin-top:35px;/*background: url(../images/img-png/line.png) bottom right no-repeat;*/overflow:hidden;padding-right:10px;}
.attractions img{float:left; margin-right:20px;}
.attractions h3{font-size: 1.5rem;}